server:
  port: 8888
eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      client:
          serviceUrl:
            defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: zwh-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/netbanner/zwh.git
          search-paths: config-repo
          default-label: master
          username: netbanner
          password: 530626kl


